@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

h1{
  font-size: 250px;
  font-family: 'Luckiest Guy', cursive;
  color: gold;
  text-align: center;
  padding: 1px;
  display: block;
  margin-bottom: 0px;
  font-size: 120px;
}

h2{
  font-size: 100px;
  margin: 0 auto;
}

h3{
  font-size: 50px;
  margin: 0 auto;
}

p{
  font-size: 40px;
  background-color: crimson;
}
body, html {
  font-family: 'Quicksand', sans-serif;
  background-color: black;
  color: whitesmoke;
  text-align: center;
}

#questionName{
  display:block;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

#startButton{
  width: 150px;
  height: 50px;
  padding: 5px 10px;
  background-color: gold;
  color: black;
  font-weight: 5px;
  font-size: 20px;
  margin: 30px auto;
  font-family: 'Luckiest Guy', cursive;
  display: block;
}

.hide{
  display: none;
}

#music-trivia{
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  background-color: crimson;
  padding: 5px 10px;
  margin: 30px 30px;
  width: 200px;
}

#movie-trivia{
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  background-color: green;
  padding: 5px 10px;
  margin: 30px 30px;
  width: 200px;
}

#arts-trivia{
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  background-color: MediumBlue;
  padding: 5px 10px;
  margin: 30px 30px;
  width: 200px;
}

.option{
  display: block;
  font-size: 30px;
  margin: 20px auto;
  color:whitesmoke;
}

.question{
    background-color: maroon;
}

.optionMovie{
  display: block;
  font-size: 30px;
  margin: 20px auto;
  color:whitesmoke;
}

.questionM{
    background-color: limegreen;
}

.movieP{
  font-size: 40px;
  background-color: green;
}

.artQ{
  font-size: 40px;
  background-color: MediumBlue;
}

.questionA{
  background-color: DarkSlateBlue;
}

.optionArt{
  font-size: 30px;
  display: block;
}
#resultMusic{
  font-weight: 5px;
  font-size: 50px;
  margin: 30px auto;
  font-family: 'Luckiest Guy', cursive;
  display: block;
  background-color: gold;
}

#resultMovie{
  font-weight: 5px;
  font-size: 50px;
  margin: 30px auto;
  font-family: 'Luckiest Guy', cursive;
  display: block;
  background-color: gold;
}

#resultArt{
  font-weight: 5px;
  font-size: 50px;
  margin: 30px auto;
  font-family: 'Luckiest Guy', cursive;
  display: block;
  background-color: gold;
}

#user-result{
  display: inline-block;
}

#yes{
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  background-color: green;
  padding: 5px 10px;
  margin: 30px 30px;
  width: 200px;
}

#no{
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  background-color: crimson;
  padding: 5px 10px;
  margin: 30px 30px;
  width: 200px;
}

#thumbs-up{
  margin: 10px auto;
}
